<!DOCTYPE html>
<html>
<head>
  <title>SecureTips | Login</title>
  <link rel="icon" type="image/ico" href="./assets/favicon.ico" sizes="32x32">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link rel="stylesheet" type="text/css" href="./style.css">
  <link href='https://fonts.googleapis.com/css?family=Raleway:300,400,500,700|Material+Icons' rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
</head>
<body>
 <div id="app">
   <v-app light>
    <v-content>
      <v-toolbar color="green" dark>
         <router-link style="text-decoration: none;">
            <v-btn flat href="./index.html">SecureTips</v-btn>
         </router-link>
        <v-spacer></v-spacer>
      <div class="hidden-sm-and-down">
        <router-link style="text-decoration:none;">
          <v-btn
           flat
           href="./login.html"
           >Login</v-btn>
        </router-link>
        <router-link style="text-decoration:none;">
          <v-btn
           flat
           href="./signUp.html"
           >Sign Up</v-btn>
        </router-link>
      </div>
    </v-toolbar>
      <section class="login">
            <v-container fluid>
               <v-layout row wrap>
                 <v-flex xs12 class="text-xs-center" mt-5>
                  <i class="fas fa-futbol fa-2x"></i><h1 class="heading">Login</h1>
                  </v-flex>
                  <v-flex xs12 sm6 offset-sm3 mt-3>
                    <v-card>
                      <v-card-text>
                        <v-container>
                        <form @submit.prevent="signIn">
                          <v-layout column>
                            <v-flex>
                              <v-text-field
                                name="email"
                                label="Email"
                                id="email"
                                type="email"
                                v-model="email"
                                required></v-text-field>
                            </v-flex>
                            <v-flex>
                              <v-text-field
                                name="password"
                                label="Password"
                                id="password"
                                type="password"
                                v-model="password"
                                required></v-text-field>
                            </v-flex>
                            <v-flex class="text-xs-center" mt-5>
                              If you are not a user <a href="signUp.html"><b>register here</b></a>
                            </v-flex>
                            <v-flex class="text-xs-center" mt-5>
                              <v-btn color="primary" type="submit" @click="signIn" >Login</v-btn>
                              <v-btn @click="signInWithGoogle"><img src="assets/indexxx.png" /></v-btn>
                            </v-flex>
                          </v-layout>
                        </form>
                      </v-container>
                     </v-card-text>
                   </v-card>
                 </v-flex>
              </v-layout>
           </v-container>
      </section>
    </v-content>
    <v-footer class="green">
      <v-layout row wrap align-center>
        <v-flex xs12>
          <div class="white--text ml-3">
             <span class="white--text" href="https://github.com/Daltimore">&copy; 2018 Copyright SecuredTips</a>
          </div>
        </v-flex>
      </v-layout>
    </v-footer>
  </v-app>
 </div>
 <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
 <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
 <script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCIt5RbAreVzbh5v3i2pIW1zytZsS9HwgI",
    authDomain: "d-bet-98dcf.firebaseapp.com",
    databaseURL: "https://d-bet-98dcf.firebaseio.com",
    projectId: "d-bet-98dcf",
    storageBucket: "d-bet-98dcf.appspot.com",
    messagingSenderId: "704181634415"
  };
  firebase.initializeApp(config);

  var dbRef = firebase.database();

   new Vue({
    el: '#app',
    data: () => ({
        email: '',
        password: '',
        authUser: null
      }),
      methods: {
        signIn: function(){
          firebase.auth().signInWithEmailAndPassword(this.email, this.password).then(function(data){
            auth.user = firebase.auth().currentUser;
          }).catch(function(error){
            auth.message = error.message;
          })
        },
        register: function(){
          firebase.auth().createUserWithEmailAndPassword(this.email, this.password)
        },
        signOut: function(){
          firebase.auth().signOut
        },
        signInWithGoogle () {
          const provider = new firebase.auth.GoogleAuthProvider()
            firebase.auth().signInWithPopup(provider)
              .catch(error => alert('🤕' + error.message))
              .then(data => console.log(data.user, data.credential.accessToken))
        }
      },
      created () {
        firebase.auth().onAuthStateChanged(user => {this.authUser = user})
      }
  });
 </script>
</body>
</html>