<!DOCTYPE html>
<html>
<head>
  <title>Secure Tips | Register</title>
  <link rel="icon" type="image/ico" href="./assets/favicon.ico" sizes="32x32">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link href='https://fonts.googleapis.com/css?family=Raleway:300,400,500,700|Material+Icons' rel="stylesheet">
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
</head>
<body>
 <div id="app">
   <v-app light>
    <v-content>
      <v-toolbar color="green" dark>
         <router-link style="text-decoration: none;">
            <v-btn flat href="./index.html">SecureTips </v-btn>
         </router-link>
        <v-spacer></v-spacer>
      <div class="hidden-sm-and-down">
        <router-link style="text-decoration:none;">
          <v-btn
           flat
           href="./login.html"
           >Login</v-btn>
        </router-link>
        <router-link style="text-decoration:none;">
          <v-btn
           flat
           href="./signUp.html"
           >Sign Up</v-btn>
        </router-link>
      </div>
    </v-toolbar>
      <section>
            <v-container fluid>
                    <v-layout row wrap>
                        <v-layout>
                            <v-flex xs12 sm6 offset-sm3>
                              <v-card>
                                <v-card-title primary-title>
                                  <div>
                                    <h3 class="headline mb-0">Sign in with Google</h3>
                                    <v-btn @click="signInWithGoogle"><img src="assets/indexx.png" /></v-btn>
                                  </div>
                                </v-card-title>
                              </v-card>
                            </v-flex>
                          </v-layout>
                      <v-flex xs12 class="text-xs-center" mt-5>
                        <h1>Register</h1>
                      </v-flex>
                      <v-flex xs12 sm6 offset-sm3 mt-3>
                        <form @submit.prevent="register">
                          <v-layout column>
                                <v-flex>
                                  <v-text-field
                                    name="a1_firstname"
                                    label="First Name"
                                    id="a1_firstname"
                                    type="name"
                                    v-model="name"
                                    required></v-text-field>
                                 </v-flex>
                                 <v-flex>
                                        <v-text-field
                                          name="a2_lastname"
                                          label="Last Name"
                                          id="a2_lastname"
                                          type="name"
                                          v-model="name"
                                          required></v-text-field>
                                       </v-flex>
                                       <v-flex>
                                            <v-text-field
                                              name="a3_username"
                                              label="User Name"
                                              id="a3_username"
                                              type="name"
                                              v-model="name"
                                              required></v-text-field>
                                           </v-flex>
                                           <v-flex>
                                                <v-text-field
                                                  name="a4_email"
                                                  label="Email"
                                                  id="a4_email"
                                                  type="email"
                                                  v-model="email"
                                                  required></v-text-field>
                                               </v-flex>
                                               <v-flex>
                                                    <v-text-field
                                                      name="a5_phone"
                                                      label="Phone Number"
                                                      id="a4_phone"
                                                      type="number"
                                                      v-model="phone"
                                                      required></v-text-field>
                                                   </v-flex>
                                               <v-flex>        
                                                  <v-select
                                                        :items="items"
                                                        label="Gender"
                                                        id="a6_gender"
                                                   ></v-select>
                                                </v-flex>
                                <v-flex>
                              <v-text-field
                                name="email"
                                label="Email"
                                id="email"
                                type="email"
                                v-model="email"
                                required></v-text-field>
                            </v-flex>
                            <v-flex>
                              <v-text-field
                                name="password"
                                label="Password"
                                id="password"
                                type="password"
                                v-model="password"
                                required></v-text-field>
                            </v-flex>
                            <v-flex class="text-xs-center" mt-5>
                              If you are registered <a href="login.html">Sign In</a>
                            </v-flex>
                            <v-flex class="text-xs-center" mt-5>
                              <v-btn color="primary" type="submit">Register</v-btn>
                            </v-flex>
                          
                          </v-layout>
                        </form>
                      </v-flex>
                    </v-layout>
                  </v-container>
      </section>   
    </v-content>
  </v-app>
 </div>
 <script src="https://www.gstatic.com/firebasejs/5.2.0/firebase.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
 <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
 <script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCIt5RbAreVzbh5v3i2pIW1zytZsS9HwgI",
    authDomain: "d-bet-98dcf.firebaseapp.com",
    databaseURL: "https://d-bet-98dcf-e81ed.firebaseio.com",
    projectId: "d-bet-98dcf-e81ed",
    storageBucket: "d-bet-98dcf-e81ed.appspot.com",
    messagingSenderId: "704181634415"
  };
  firebase.initializeApp(config);
  // Reference to Firebase database
  const Users = firebase.database().ref("Users");

  //Save a new user to the database
  var submitUsers = function (){
    // Get input values from each of the form elements
    const firstname = $("a1_firstname").val();
    const lastname = $("a2_secondname").val();
    const username = $("a3_username").val();
    const email = $("a4_email").val();
    const phone = $("a5_phone").val();
    const gender = $("a6_gender").val();

// Push a new user to the database
  User.push({
    "firstname": firstname,
    "lastname": lastname,
    "username": user,
    "email": email,
    "phone": phone,
    "gender": gender
  });
};

//Load functio when user clicks on the register button
  $(window).load(function () {
    $("#Users").submit(submitUsers);
  });

  
   new Vue({
    el: '#app',
    data: () => ({
        email: '',
        password: '',
        authUser: null,
        items: ['Male', 'Female']
      }),
      methods: {
        signIn: function(){
          firebase.auth().signInWithEmailAndPassword(this.email, this.password)
        },
        register: function(){
          firebase.auth().createUserWithEmailAndPassword(this.firstname, this.lastname, this.username, this.email, this.phone, this.gender, this.email, this.password)
        },
        signOut: function(){
          firebase.auth().signOut
        },
        signInWithGoogle () {
          const provider = new firebase.auth.GoogleAuthProvider()
            firebase.auth().signInWithPopup(provider)
              .catch(error => alert('🤕' + error.message))
              .then(data => console.log(data.user, data.credential.accessToken))
        }
      },
      created () {
        firebase.auth().onAuthStateChanged(user => {this.authUser = user})
      }
  });
 </script>
</body>
</html>