body{
    font-family: 'Lato', sans-serif;
}
.about{
    text-align: justify;
    font-family: 'Lato', sans-serif;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    font-size: 15px;
}