body{
    font-family: 'Raleway', sans-serif;
}
.about{
    text-align: justify;
    font-family: 'Raleway', sans-serif;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    font-size: 15px;
}
#app{
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
}
.heading{
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
}
.login{
    width: 100%;
}